body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #ddd;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:first-child {
    font-weight: bold;
    background-color: #f2f2f2;
}

td:last-child {
    font-weight: bold;
    color: #1E90FF;
}

button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1E90FF;
}